                <div class="col-sm-6 col-md-6 col-xs-12 feature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar"></i> P1 SLA</h3>
                        </div>
                <nvd3 options="options" data="bar"></nvd3>
                </div>
</div>
                <div class="col-sm-3 col-md-3 col-xs-12 feature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar"></i> DEV REVIEW SLA</h3>
                        </div>
                <canvas tc-chartjs-pie chart-options="pieoptions" chart-data="piedata5" chart-options="myOptions"  auto-legend></canvas>
                    </div>
                </div>
</div>
                <div class="col-sm-3 col-md-3 col-xs-12 feature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar"></i> PUBLISH LINE SLA MET</h3>
                        </div>
                <canvas tc-chartjs-pie chart-options="pieoptions" chart-data="piedata6" chart-options="myOptions"  auto-legend></canvas>
                    </div>
                </div>
