
                <div class="col-sm-3 col-md-3 col-xs-12 feature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar"></i> P1 SLA</h3>
                        </div>
                <canvas tc-chartjs-pie chart-options="pieoptions" chart-data="piedata1" chart-options="myOptions"  auto-legend></canvas>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-xs-12 feature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> P2 SLA</h3>
                        </div>
                <canvas tc-chartjs-pie chart-options="pieoptions" chart-data="piedata2" chart-options="myOptions"  auto-legend></canvas>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-xs-12 feature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> P3 SLA</h3>
                        </div>
                <canvas tc-chartjs-pie chart-options="pieoptions" chart-data="piedata3" chart-options="myOptions"  auto-legend></canvas>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-xs-12 feature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> P4 SLA</h3>
                        </div>
                <canvas tc-chartjs-pie chart-options="pieoptions" chart-data="piedata4" chart-options="myOptions"  auto-legend></canvas>
                    </div>
                </div>
