<!--Dashboard Heading-->
<div class="row">
  <div class="col-lg-12">
     <h1 class="page-header">DASHBOARD <small>STATISTICS OVERVIEW</small></h1>
  </div>
</div>
<!--Dashboard Heading ends-->

<!--Tickets Count -->

<div class="row">
    <div ui-view="ticketscount"></div>
</div>

<!--Tickets Count ends-->

<!--charts-->

    <div class="row" id="features">
        <div ui-view="charts1"></div>
    </div>
    <div class="row" id="features">
        <div ui-view="charts2"></div>
    </div>
<!--charts ends-->
